.animated {
  animation-fill-mode: both;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.animated-delay-05 {
  animation-delay: 0.5s;
}

.animated-delay-10 {
  animation-delay: 1s;
}

.animated-delay-15 {
  animation-delay: 1.5s;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.07);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.07);
  }
  100% {
    -moz-transform: scale(1);
  }
}

@-o-keyframes pulse {
  0% {
    -o-transform: scale(1);
  }
  50% {
    -o-transform: scale(1.07);
  }
  100% {
    -o-transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07);
  }
  100% {
    transform: scale(1);
  }
}

.pulse {
  animation-name: pulse;
}
