$icon-font-path: '../fonts/';
// bower:scss
//@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
//@import "bower_components/slick-carousel/slick/slick.scss";
//@import "bower_components/slick-carousel/slick/slick-theme.scss";
// endbower

.slick-track, .slick-list, .slick-slide {
  display: flex;
}

.slick-slide {
  float: left;
  align-items: center;
  padding: 15px;
  img {
    transition: transform 400ms;
  }
  &.slick-current.slick-active {
    position: relative;
    z-index: 2;
    img {
      transform: scale(1.3);
    }
  }
}

.slick-list {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding-top: 4% !important;
  padding-bottom: 4% !important;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

* {
  box-sizing: border-box;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

//@font-face {
//  font-family: "MarkerFelt";
//  /*src: url("../fonts/RalewayRegular/RalewayRegular.eot");*/
//  /*src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix") format("embedded-opentype"),*/
//  /*url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"),*/
//  url("MarkerFelt.ttf") format("truetype");
//  font-style: normal;
//  font-weight: normal;
//}

//TODO Need replace to different files for refactor

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 0 !important;
  font-family: "Marker Felt";
  color: rgb(41, 55, 82);
}

.main-page {
  //background: url(../images/background-main.png);
  //background-image: url(../images/basket-bg.png);
  -webkit-background-size: cover;
  background-size: cover;

}

.main-container {
  //background-image: url(../images/basket-bg.png);
  max-width: 1200px;
  margin: 0 auto;
  //background-size: cover;
}

.main-title {
  font-size: 95px;
  color: white;
  text-align: center;
  text-shadow: 3px 3px #455676,
  4px 4px #455676,
  -3px -3px #455676,
  -4px -4px #455676,
  -3px 3px #455676,
  3px -3px #455676,
  -4px 4px #455676,
  4px -4px #455676;
  @media (max-width: 1024px) {
    font-size: 80px;
  }
  @media (max-width: 768px) {
    font-size: 68px;
  }
  @media (max-width: 680px) {
    font-size: 60px;
  }
  @media (max-width: 480px) {
    font-size: 48px;
  }
}

.block-container {
  display: flex;
  //max-width: 1200px;
  //margin: 0 auto;
  //background-color: antiquewhite !important;
  background-size: cover;
  background-repeat: no-repeat;
}

.block-1 {
  flex-direction: column;
  position: relative;
  background-image: url(../images/background-1.jpg);
  padding-bottom: 6%;
  @media (max-width: 480px) {
    background-position-y: 0;
    background-size: 115%;
    background-position-x: center;
  }
}

.buy-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 65px;
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 22px;
  background: transparent url(../images/buy-button-default.png) no-repeat 100%;
  background-size: 100%;
  &:hover {
    background: transparent url(../images/buy-button-hovered.png) no-repeat 100%;
    background-size: 100%;
    text-decoration: none;
  }
}

.author {
  font-size: 48px;
  color: white;
  text-align: center;
  margin-top: 10%;
  @media (max-width: 768px) {
    font-size: 42px;
  }
  @media (max-width: 680px) {
    font-size: 34px;
  }

  @media (max-width: 480px) {
    font-size: 30px;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  background-size: 100%;
  padding: 6%;
  a {
    font-size: 34px;
    color: rgb(65, 74, 118);
    text-decoration: none;
    @media (max-width: 768px) {
      font-size: 28px;
    }
    @media (max-width: 680px) {
      font-size: 25px;
    }
    @media (max-width: 480px) {
      font-size: 22px;
      margin-bottom: 10px;
    }
  }
}

.contact-phone {
  display: inline-block;
  margin-bottom: 20px;
}

.block-2 {
  background-image: url(../images/background-2.jpg);
  padding: 3% 0;
  @media (max-width: 480px) {
    display: flex;
    flex-direction: column;
    background: none;
  }
}

.text-block {
  font-size: 29px;
  padding: 50px 30px;
  padding: 4% 3% 4% 5%;
  width: 50%;
  @media (max-width: 480px) {
    width: 100%;
    font-size: 20px;
    padding-top: 8%;
    order: 2;
  }
}

.img-block {
  padding-right: 4%;
  height: 100%;
  width: 50%;
  .book-img {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 480px) {
    width: 100%;
  }

}

.block-3 {
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 5% 2%;
  background-image: url(../images/background-3.jpg);
  .book-page-img {
    width: 30%;
  }

}

.block-4 {
  align-items: center;
  justify-content: space-between;
  background-image: url(../images/background-4.jpg);
  .img-container {
    padding: 5%;
    @media (max-width: 480px) {
      flex-direction: column;
      padding-left: 15%;
      padding-right: 15%;
    }
  }
  img {
    width: 325px;
    @media (max-width: 480px) {
      width: 100%;
    }
  }
  p {
    font-size: 19px;
    text-align: center;
    padding: 5% 8%;
    @media (max-width: 760px) {
      font-size: 16px;
    }
  }
  @media (max-width: 480px) {
    flex-direction: column;
    padding-top: 20px;
    background: none;
  }
}

.block-5 {
  min-height: 720px;
  flex-direction: column;
  background-image: url(../images/background-5.jpg);
}

//TODO: Переместить в фаайл maintenance.scss

.maintenance-page-test {
  height: auto !important;
}

.maintenance-page {
  min-height: 720px;
  height: 100vh;
  flex-direction: column;
  background: url(../images/background-maintenance-default.png);
  background-size: 100%;
  background-position: center;
  background-color: transparent !important;
  .main-title {
    margin-top: 2%;
    @media (max-width: 480px) {
      font-size: 40px;
      padding: 0 15px;
    }
  }
  .maintenance-info {
    font-size: 24px;
    margin-top: 30px;
    text-align: center;
    padding: 0 15px;
    @media (max-width: 480px) {
      font-size: 18px;
    }
  }
  .contacts {
    padding: 4%;
  }
  @media (max-width: 480px) {
    background-size: 265%;
    background-position: -425px -61px;
  }

}

.social-links {
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  padding: 40px 50px 10px;
  a {
    display: flex;
    margin-left: 50px;
    i {
      width: 80px;
      height: 85px;
      display: block;
      background-repeat: no-repeat;
      background-size: 100%;
      &.facebook-icon {
        background-image: url(../images/facebook-icon.png);
      }
      &.instagram-icon {
        background-image: url(../images/instagram-icon.png);

      }
      &.whatsapp-icon {
        background-image: url(../images/whatsapp-icon.png);

      }
      @media (max-width: 768px) {
        width: 65px;
        height: 70px;
      }
      @media (max-width: 480px) {
        width: 50px;
        height: 55px;
      }
    }
    @media (max-width: 480px) {
      margin-left: 20px;
    }

  }
  @media (max-width: 480px) {
    justify-content: center;
    padding: 30px 50px 0;
    height: auto;
    margin-bottom: 30px;
  }
}

.footer-label {
  font-size: 24px;
  text-align: center;
  &.buy-label {
    margin-top: 95px;
    transform: translateX(-40px);
  }
  &.social-label {
    margin-top: 180px;
    transform: translateX(55px);
  }
}

.text-shadow-white {
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px white, 0 0 35px white, 0 0 40px white, 0 0 50px white, 0 0 75px white;
}

//TODO: Переместить в отдельный файл

.basket {
  max-width: 860px;
  background-image: url(../images/basket-bg.png);
  background-size: cover;
  flex-direction: column;
  padding: 3% 7%;

  .basket-title {
    font-size: 34px;
    text-align: center;
    width: 100%;
    &.basket-info-title {
      margin-bottom: 30px;
      margin-top: 0;
    }
    @media (max-width: 768px) {
      font-size: 30px;
    }
  }

  .basket-form {
    display: flex;
    flex-direction: column;
    label {
      font-size: 20px;
      margin: 0;
      display: flex;
      align-self: center;
      justify-content: flex-end;
      padding-right: 30px;
      @media (max-width: 768px) {
        font-size: 18px;
      }
    }
    .input-box {
      display: flex;
      margin-bottom: 20px;
      label {
        width: 30%;
        @media (max-width: 768px) {
          width: 40%;
        }
      }
      input {
        height: 30px;
        border: 1px solid red;
        border-radius: 5px;
        width: 40%;
        font-size: 16px;
        padding: 0 10px;
        &.input-address {
          width: 50%;
        }
        @media (max-width: 768px) {
          height: 26px;
          font-size: 14px;
        }
      }
    }
    .checkboxes-container {
      display: flex;
    }
    .checkbox-box {
      display: flex;
      margin-bottom: 20px;
      width: 50%;
      label {
        width: 60%;
        @media (max-width: 768px) {
          width: 80%;
        }
      }
    }
    .textarea-box {
      margin-bottom: 20px;
      display: flex;
      label {
        width: 30%;
        align-self: center;
        @media (max-width: 768px) {
          width: 40%;
        }
      }
      textarea {
        width: 50%;
        border: 1px solid red;
        border-radius: 5px;
        padding: 10px;
        font-size: 16px;
        @media (max-width: 768px) {
          height: 8em;
        }
      }

    }
    .buy-button-basket {
      position: static;
      font-size: 22px;
      border: none;
      width: 260px;
      background: transparent url(../images/buy-button-basket-default.png) no-repeat 100%;
      margin: 0 auto;
      background-size: 100%;
      height: 80px;
      &:hover {
        background: transparent url(../images/buy-button-basket-hovered.png) no-repeat 100%;
        background-size: 100%;
        text-decoration: none;
      }
    }
  }
  @media (max-width: 768px) {

  }
}

.info-box {
  font-size: 18px;
  margin-top: 50px;
  text-align: center;
  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.animated {
  animation-fill-mode: both;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.animated-delay-05 {
  animation-delay: 0.5s;
}

.animated-delay-10 {
  animation-delay: 1s;
}

.animated-delay-15 {
  animation-delay: 1.5s;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.07);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.07);
  }
  100% {
    -moz-transform: scale(1);
  }
}

@-o-keyframes pulse {
  0% {
    -o-transform: scale(1);
  }
  50% {
    -o-transform: scale(1.07);
  }
  100% {
    -o-transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07);
  }
  100% {
    transform: scale(1);
  }
}

.pulse {
  animation-name: pulse;
}

.slick-arrow {
  height: 100%;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  z-index: 2;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  &.slick-next {
    right: 20px;
    padding-right: 20px;
  }
  &.slick-prev {
    left: 20px;
    padding-left: 20px;
  }
  &:before {
    content: "";
    width: 20px;
    height: 20px;
    border: solid #a278cc;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
    transition: all 400ms;
  }
  &.slick-next:before {
    transform: rotate(-45deg);
  }
  &.slick-next:hover:before {
    transform: rotate(-45deg) scale(1.3);
  }
  &.slick-prev:before {
    transform: rotate(135deg);
  }
  &.slick-prev:hover:before {
    transform: rotate(135deg) scale(1.3);
  }
}